@font-face {
    font-family: 'LetoSans';
    src: url("../fonts/LetoSans-Bold.woff2"),
    url("../fonts/LetoSans-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'LetoSans';
    src: url("../fonts/LetoSans-Regular.woff2"),
    url("../fonts/LetoSans-Regular.woff");
    font-style: normal;
    font-weight: 400;
}