@import 'fonts.scss';
@import 'reset.scss';

*{
    box-sizing: border-box;
}

body {
    font-family: 'LetoSans';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
}

.title {
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    font-weight: 400;
}

input {
    outline: none;
}

.header {
    position: relative;
    padding: 20px 0 40px;
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__contacts {
            span {
                margin-right: 20px;
                border-bottom: 1px dashed black;
            }
            a {
                color: #9C2E29;
                
            }
        }
    }
}

.menu__list {
    display: flex;
    &-item + &-item {
        margin-left: 50px;
    }
    &-link {
        text-transform: uppercase;
    }
}

.dropdown__link {
    position: relative;
    padding-right: 24px;
    &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 5px;
        background-image: url(../images/header/dropdownArrow.svg);
        background-repeat: no-repeat;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.header-top__contacts {
   padding-bottom: 10px; 
}


.menu__block-dropdown {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    padding: 18px 60px 40px;
    transform: translate(0,10px);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    align-items: baseline;
    max-width: 770px;
    width: 100%;
    transition: all .3s;   
    display: none;
}

.dropdown--active {
    display: grid;
}

.dropdown__item-list {
    padding-bottom: 10px;
}


.dropdown__link-item {
    display: inline-block;
    max-width: 120px;
    img {
        display: block;
        margin-bottom: 10px;
    }
    span {
        font-size: 12px;
        line-height: 14px;
        color: #A6A6A6;
    }
}



.home {
    min-height: calc(100vh - 150px);
    background-image: url(../images/header/headerBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &__title {
        font-size: 35px;
        line-height: 43px;
        color: #FFFFFF;
        max-width: 480px;
        margin-left: 120px;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
}

.red__ribbon {
    left: 170px;
    z-index: -1;
    top: -700%;
    position: absolute;
    max-width: 545px;
    width: 100%;
    height: 2000%;
    background: rgba(156, 46, 41, 0.7);
    transform: rotate(-15deg);
}


.title__block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.submit__write {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    &::after {
        position: absolute;
        content: '';
        width: 110px;
        height: 112px;
        background-image: url(../images/header/btnEllipse.svg);
        background-repeat: no-repeat;
        right: -30px;
        top: 50%;
        transform: translateY(-45%);
    }
    &::before {
        content: '';
        position: absolute;
        width: 156px;
        height: 17px;
        background-image: url(../images/header/btnArrow.svg);
        background-repeat: no-repeat;
        bottom: -8px;
        left: -15px;
    }
}

.submit__write-black {
    cursor: pointer;
    position: absolute;
    right: -50px;
    bottom: -100px;
    transform: translateX(-50%);
    font-size: 16px;
    line-height: 19px;
    color: #000;
    background-color: transparent;
    border: none;
    &::after {
        position: absolute;
        content: '';
        width: 111px;
        height: 112px;
        background-image: url(../images/products/btnEllipse.svg);
        background-repeat: no-repeat;
        right: -30px;
        top: 50%;
        transform: translateY(-45%);
    }
    &::before {
        content: '';
        position: absolute;
        width: 156px;
        height: 17px;
        background-image: url(../images/products/btnArrow.svg);
        background-repeat: no-repeat;
        bottom: -8px;
        left: -15px;
    }
}

.about {
    margin-top: 120px;
    &__title {
        margin-bottom: 94px;
        span {
            color: #9C2E29;
            font-weight: 700;
            max-width: 955px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__item {
        max-width: 215px;
        
        font-size: 16px;
        line-height: 19px;
        color: #A6A6A6;
        p {
            margin-top: 13px;
        }
    }
}

.products {
    margin-top: 120px;
    &__title {
        margin-bottom: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__text {
        letter-spacing: 0.03em;
        color: #9C2E29;
        max-width: 1060px;
        margin-bottom: 45px;
    }
    &__item {
        max-width: 370px;
        position: relative;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        margin-bottom: 20px;
        border: 2px solid transparent;
        transition: all .3s;
        min-height: 375px;
        img {
            max-width: 100%;
        }
        &:hover {
            border-color: #9C2E29;
        }
        &-text {
            background-color: #FFFFFF;
            text-align: left;
            font-size: 20px;
            line-height: 23px;
            padding: 20px 10px;
            width: 102%;
          
        }
    }
}


.products__item-quote {
    position: relative;
    max-width: 670px;
    width: 100%;
    padding-top: 50px;
   
    &__text {
        max-width: 530px;
        color: #A6A6A6;
        a {
            text-decoration-line: underline;
            color: #9C2E29;
        }
    }
    &__text + &__text {
        margin-top: 30px;
    }
}

.slider {
    margin-top: 120px;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__content {
        max-width: 525px;
        margin-left: 75px;
        h2 {
            font-weight: 700;
            font-size: 45px;
            line-height: 53px;
            color: #000000;
            margin-bottom: 22px;
            span {
                color: #9C2E29;
            }
        }
        p  {
            color: #A6A6A6;
        }
    }
}


.swiper {
    width: 470px;
    height: 363px;
  }

.care {
    margin-top: 120px;
    background: #9C2E29;
    color: #FFFFFF;
    padding: 70px 0;
    &__img {
        max-width: 537px;
        width: 100%;
        margin-right: 90px;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 30px;
    }
    button {
        background: transparent;
        padding: 17px 53px;
        border: 1px solid white;
        color: white;
        font-size: 18px;
        line-height: 21px;
        border-radius: 50px;
        cursor: pointer;
    }
}

.economy {
    margin-top: 140px;
    &__title {
        font-weight: 400;
        margin-bottom: 95px;
        span {
            font-weight: 700;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 570px;
        background: #ECECEC;
        opacity: 0.8;
        padding: 50px 50px 20px;
        position: relative;
        h4 {
            font-weight: 700;
            font-size: 25px;
            position: absolute;
            line-height: 29px;
            top: -10px;
            left: 120px;
        }
        p {
            color: #A6A6A6;
            margin-bottom: 25px;
        }
        a {
            color: #9C2E29;
        }
    }
}

.economy__item-title__credit {
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/economy/homeAndDollar.svg);
        background-repeat: no-repeat;
        width: 80px;
        height: 78px;
        left: -84px;
        top: -30px;
    }
}

.economy__item-title__home {
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/economy/umbrellaAndHome.svg);
        background-repeat: no-repeat;
        width: 88px;
        height: 78px;
        left: -100px;
        top: -30px;
    }
}

.quote {
    margin-top: 120px;
    min-height: 591px;
    background-image: url(../images/quoteBg.jpg);
    position: relative;
    margin-bottom: 372px;
    h2 {
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;     
        color: #FFFFFF;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
        width: 100%;
        text-align: center;
        span {
            border-bottom: 3px solid white;
        }
    }
}


.treaty {
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-text {
            max-width: 590px;
            font-size: 30px;
            width: 100%;
            line-height: 35px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-55%);
                right: 0;
                width: 375px;
                height: 470px;
                background-image: url(../images/treaty/home.svg);
                background-repeat: no-repeat;
            }
        }
        &-content {
            max-width: 425px;
            p {
                font-size: 20px;
                line-height: 24px;
                color: #A6A6A6;
                margin-bottom: 45px;
            }
            button {
                padding: 13px 31px;
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                color: #FFFFFF;
                background: #9C2E29;
                border-radius: 5px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.form {
    &__title {
        margin-top: 358px;
        text-align: center;
        margin-bottom: 34px;
    }
}

.form {
    max-width: 643px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form__name,
.form__tel,
.form__city,
.form__message {
    border: none;
    border-bottom: 2px solid #9C2E29;
    font-weight: 400;
font-size: 20px;
line-height: 23px;
margin-bottom: 50px;
padding-bottom: 10px;
color: #A6A6A6;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file__block {
    width: 100%;
    padding: 25px;
    border: 1px dashed #000000;
    text-align: center;

}

.file__label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        margin-left: 25px;
        font-size: 25px;
line-height: 29px;
    }
}

.form__warning {
    max-width: 475px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 37px;
    span {
        font-weight: 700;
    }
    a {
        text-decoration-line: underline;
        color: #9C2E29;
        font-size: 20px;
        line-height: 23px;
    }
}

.form__btn {
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-transform: uppercase;
    max-width: 270px;
    width: 100%;
    color: #FFFFFF;
    background: #9C2E29;
    border-radius: 5px;
    padding: 13px 0;
    margin: 0 auto;
    border: none;
}


.footer {
    padding: 60px 0;
    margin-top: 170px;
    background: #F7F6F5;
    &__top-inner {
        display: flex;
        justify-content: space-between;
        h2 {
            font-weight: 700;
            font-size: 25px;
            line-height: 29px;
            color: #000000;
           
            margin-bottom: 25px;
            span {
                color: #9C2E29;
  
            }
        }
    }
    &__info-item {
        max-width: 260px;
        p {
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #A6A6A6;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        a {
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
        &-item + &-item {
            margin-left: 35px;
        }
    }
}

.time__working {
    max-width: 180px;
    text-align: left;
    width: 100%;
    p {
        margin-top: 20px;
    }
}

.social__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    li + li {

        margin-left: 25px;
    }
}

.footer__bottom {
    font-size: 8px;
    line-height: 9px;
    color: #A6A6A6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    p {
        max-width: 855px;
        margin-left: 15px;
    }
}

.products--products {
    margin-top: 50px;
}

.page-about {
    background: #9C2E29;
    color: white;
    padding: 60px 0;
    margin-top: 50px;
    margin-bottom: 50px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-content {
            max-width: 562px;
            h2 {
                font-size: 35px;
                line-height: 41px;
                margin-bottom: 25px;
            }
            p {
                font-size: 20px;
                line-height: 23px;
            }
        }
    }
    
}

.about__form {
    margin-top: 127px;
    h2 {
        margin-bottom: 34px;
        text-align: center;
    }
}

.product {
    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: #000000;
        max-width: 850px;
        margin-bottom: 45px;
        span  {
            color: #9C2E29;
        }
    }
}

.btn__get-info {
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-transform: uppercase;
    max-width: 270px;
    width: 100%;
    color: #fff;
    background: #9c2e29;
    border-radius: 5px;
    padding: 13px 0;
    margin: 0 auto;
    border: none;
    margin-left: 150px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 105px;
        height: 65px;
        background-image: url(../images/product/btnArrow.svg);
        left: -140px;
        top: 50%;
        transform: translateY(-80%);
    }
}

.question__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.question__title {
    margin-top: 145px;
    max-width: 812px;
    margin-left: 150px;
    margin-bottom: 50px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: -120px;
        top: 50%;
        transform: translateY(-50%);
        width: 90px;
        height: 90px;
        background-image: url(../images/product/question.svg);
        background-repeat: no-repeat;
    }
    span {
        color: #9C2E29;
        font-weight: 700;
    }
}

.question__item{
    max-width: 370px;
    min-height: 320px;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding: 35px;
    margin-bottom: 30px;
    h4 {
        font-weight: 700;
        margin-bottom: 35px;
        margin-top: 25px;
       
    }
    p {
        font-size: 14px;
        line-height: 16px;
        color: #A6A6A6;
    }
}

.example__works-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.example__works-item {
    max-width: 370px;
    min-height: 275px;
    margin-bottom: 30px;
}

.example__works-title {
    margin-top: 140px;
    max-width: 812px;
    span {
        color: #9C2E29;
        font-weight: 700;
    }
}

.product__form {
    margin-top: 60px;
}

.contacts-page {
    &__title {
        margin-bottom: 15px;
    }
}

.contacts-top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    span {
        letter-spacing: 0.03em;
        color: #A6A6A6;
        margin-bottom: 25px;
        display: block;
    }
    a {
        font-size: 35px;
        line-height: 41px;
        color: #9C2E29;
    }
}


.contacts__map {
    margin-top: 55px;
    background: #9C2E29;
    padding: 20px 0;
    color: white;
    &-inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &-content {
        max-width: 480px;
        span {
            font-size: 20px;
            line-height: 23px;
            color: #A6A6A6;
            margin-bottom: 12px;
        }
        p {
            font-weight: 700;
            font-size: 25px;
            line-height: 29px;
            margin-bottom: 15px;
        }
    }
}