@import 'fonts.scss';
@import 'reset.scss';

*{
    box-sizing: border-box;
}

body {
    font-family: 'LetoSans';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
}

.title {
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    font-weight: 400;
}


.header {
    padding: 20px 0 40px;
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__contacts {
            span {
                margin-right: 20px;
                border-bottom: 1px dashed black;
            }
            a {
                color: #9C2E29;
                
            }
        }
    }
}

.menu__list {
    display: flex;
    &-item + &-item {
        margin-left: 50px;
    }
    &-link {
        text-transform: uppercase;
    }
}

.dropdown__link {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 5px;
        background-image: url(../images/header/dropdownArrow.svg);
        background-repeat: no-repeat;
        right: -24px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.home {
    min-height: 100vh;
    background-image: url(../images/header/headerBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        color: #FFFFFF;
        max-width: 480px;
        margin-left: 120px;
    }
}


.title__block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.submit__write {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    &::after {
        position: absolute;
        content: '';
        width: 110px;
        height: 112px;
        background-image: url(../images/header/btnEllipse.svg);
        background-repeat: no-repeat;
        right: -30px;
        top: 50%;
        transform: translateY(-45%);
    }
    &::before {
        content: '';
        position: absolute;
        width: 156px;
        height: 17px;
        background-image: url(../images/header/btnArrow.svg);
        background-repeat: no-repeat;
        bottom: -8px;
        left: -15px;
    }
}

.submit__write-black {
    cursor: pointer;
    position: absolute;
    right: -50px;
    bottom: -100px;
    transform: translateX(-50%);
    font-size: 16px;
    line-height: 19px;
    color: #000;
    background-color: transparent;
    border: none;
    &::after {
        position: absolute;
        content: '';
        width: 111px;
        height: 112px;
        background-image: url(../images/products/btnEllipse.svg);
        background-repeat: no-repeat;
        right: -30px;
        top: 50%;
        transform: translateY(-45%);
    }
    &::before {
        content: '';
        position: absolute;
        width: 156px;
        height: 17px;
        background-image: url(../images/products/btnArrow.svg);
        background-repeat: no-repeat;
        bottom: -8px;
        left: -15px;
    }
}

.about {
    margin-top: 120px;
    &__title {
        margin-bottom: 94px;
        span {
            color: #9C2E29;
            font-weight: 700;
            max-width: 955px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__item {
        max-width: 215px;
        
        font-size: 16px;
        line-height: 19px;
        color: #A6A6A6;
        p {
            margin-top: 13px;
        }
    }
}

.products {
    margin-top: 120px;
    &__title {
        margin-bottom: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__text {
        letter-spacing: 0.03em;
        color: #9C2E29;
        max-width: 1060px;
        margin-bottom: 45px;
    }
    &__item {
        max-width: 370px;
        position: relative;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        margin-bottom: 20px;
        border: 2px solid transparent;
        transition: all .3s;
        min-height: 375px;
        img {
            max-width: 100%;
        }
        &:hover {
            border-color: #9C2E29;
        }
        &-text {
            background-color: #FFFFFF;
            text-align: left;
            font-size: 20px;
            line-height: 23px;
            padding: 20px 10px;
            width: 102%;
          
        }
    }
}


.products__item-quote {
    position: relative;
    max-width: 670px;
    width: 100%;
    padding-top: 50px;
    &::before {
        content: '';
        position: absolute;
        width: 48px;
        height: 45px;
        background-image: url(../images/products/quotes.svg);
        background-repeat: no-repeat;
        top: 25px;
        left: -30px;
    
    }
    &__text {
        max-width: 530px;
        color: #A6A6A6;
        a {
            text-decoration-line: underline;
            color: #9C2E29;
        }
    }
    &__text + &__text {
        margin-top: 30px;
    }
}

.slider {
    margin-top: 120px;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__content {
        max-width: 525px;
        margin-left: 75px;
        h2 {
            font-weight: 700;
            font-size: 45px;
            line-height: 53px;
            color: #000000;
            margin-bottom: 22px;
            span {
                color: #9C2E29;
            }
        }
        p  {
            color: #A6A6A6;
        }
    }
}


.swiper {
    width: 470px;
    height: 363px;
  }

.care {
    margin-top: 120px;
    background: #9C2E29;
    color: #FFFFFF;
    padding: 70px 0;
    &__img {
        max-width: 537px;
        width: 100%;
        margin-right: 90px;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 30px;
    }
    button {
        background: transparent;
        padding: 17px 53px;
        border: 1px solid white;
        color: white;
        font-size: 18px;
        line-height: 21px;
        border-radius: 50px;
        cursor: pointer;
    }
}

.economy {
    margin-top: 140px;
    &__title {
        font-weight: 400;
        margin-bottom: 95px;
        span {
            font-weight: 700;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 570px;
        background: #ECECEC;
        opacity: 0.8;
        padding: 50px 50px 20px;
        position: relative;
        h4 {
            font-weight: 700;
            font-size: 25px;
            position: absolute;
            line-height: 29px;
            top: -10px;
            left: 120px;
        }
        p {
            color: #A6A6A6;
            margin-bottom: 25px;
        }
        a {
            color: #9C2E29;
        }
    }
}

.economy__item-title__credit {
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/economy/homeAndDollar.svg);
        background-repeat: no-repeat;
        width: 80px;
        height: 78px;
        left: -84px;
        top: -30px;
    }
}

.economy__item-title__home {
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/economy/umbrellaAndHome.svg);
        background-repeat: no-repeat;
        width: 88px;
        height: 78px;
        left: -100px;
        top: -30px;
    }
}

.quote {
    margin-top: 120px;
    min-height: 591px;
    background-image: url(../images/quoteBg.jpg);
    position: relative;
    margin-bottom: 372px;
    h2 {
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;     
        color: #FFFFFF;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
        width: 100%;
        text-align: center;
        span {
            border-bottom: 3px solid white;
        }
    }
}


.treaty {
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-text {
            max-width: 590px;
            font-size: 30px;
            width: 100%;
            line-height: 35px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-55%);
                right: 0;
                width: 375px;
                height: 464px;
                background-image: url(../images/treaty/home.svg);
                background-repeat: no-repeat;
            }
        }
        &-content {
            max-width: 425px;
            p {
                font-size: 20px;
                line-height: 24px;
                color: #A6A6A6;
                margin-bottom: 45px;
            }
            button {
                padding: 13px 31px;
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                color: #FFFFFF;
                background: #9C2E29;
                border-radius: 5px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.form {
    &__title {
        margin-top: 358px;
        text-align: center;
        margin-bottom: 34px;
    }
}

.form {
    max-width: 643px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form__name,
.form__tel,
.form__city {
    border: none;
    border-bottom: 2px solid #9C2E29;
    font-weight: 400;
font-size: 20px;
line-height: 23px;
margin-bottom: 50px;
padding-bottom: 10px;
color: #A6A6A6;
}